/* By Elaina Da Catto */
/* Meow~~~ */

#Q-Delay {
	display: flex;
	margin-bottom: 0px !important;
}

#Create-Delay {
	margin-right: 15px;
	margin-bottom: 0px !important;
}

#Find-Delay {
	margin-bottom: 0px !important;
}

/* End */